<h2>Países-App</h2>
<hr/>
<ul class="list-group">
    <li routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        class="list-group-item">
        <b>Buscar por País</b>
    </li>
    <li routerLink="region"
        routerLinkActive="active"
        class="list-group-item">
        <b>Buscar por Región</b>
    </li>
    <li routerLink="capital" 
        routerLinkActive="active"
        class="list-group-item">
        <b>Buscar por Capital</b>
    </li>
</ul>
