<table class="table table-hover animate__animated animate__fadeIn animate__faster align-middle">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Capital</th>
            <th>Población</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let countryItem of listCountries; let i = index"
            class="animate__animated animate__fadeIn animate__slow">
            <td>{{ i + 1 }}</td>
            <td>
                <img class="small-flag" [src]="countryItem.flags.png">
            </td>
            <td>{{countryItem.name}}</td>
            <td>{{countryItem.capital}}</td>
            <td>{{countryItem.population | number}}</td>
            <td>
                <button class="btn btn-outline-primary" 
                        [routerLink]="['/country', countryItem.alpha2Code]">
                        <b>Ver</b>
                </button>
            </td>
        </tr>
    </tbody>
</table>